html, body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30em;
}

.content {
    align-self: center;
    justify-self: center;
    text-align: center;
    min-width: 30em;
    position: relative;
}

.logo {
    width: 250px;
    height: auto;
}

.searchbox {
    font-size: large;
    width: 22em;
    height: 2em;
    margin-bottom: 1em;
    border: 1px solid silver;
    border-radius: 3em;
    padding: 0 2em 0 2em;
}

.icon {
    position: absolute;
    width: 1.5em;
    height: auto;
    left: 1em;
    top: -3em;
}

.btn {
    width: 10em;
    height: 3em;
    font-size: 0.8em;
    color: rgb(68, 68, 68);
    margin: 0 1vw 0 1vw;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(240, 240, 240);
}

.spacer {
    max-width: 50%;
}
.spacer-top {
    align-self: flex-start;
}
.spacer-bottom {
    align-self: flex-end;
}